<div>
    <label for="url_request">Digite a url</label>
    <input #url name="url" type="text" placeholder="insira a url" />
    <button (click)="setUrlRequest(url.value)">Get Request</button>
    <app-info-getter [result]="result"></app-info-getter>
</div>